<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TrunkVer</title>
    <!-- HTML Meta Tags -->
    <title>TrunkVer</title>
    <meta
      name="description"
      content="TrunkVer is a SemVer-compatible versioning scheme for continuously-delivered, trunk-based applications and systems that don't follow a release scheme."
    />
    <meta property="og:url" content="https://trunkver.org/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TrunkVer" />
    <meta
      property="og:description"
      content="TrunkVer is a SemVer-compatible versioning scheme for continuously-delivered, trunk-based applications and systems that don't follow a release scheme."
    />
    <meta property="twitter:domain" content="trunkver.org" />
    <meta property="twitter:url" content="https://trunkver.org/" />
    <meta name="twitter:title" content="TrunkVer" />
    <meta
      name="twitter:description"
      content="TrunkVer is a SemVer-compatible versioning scheme for continuously-delivered, trunk-based applications and systems that don't follow a release scheme."
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="prism.css" />
  </head>
  <body>
    <div class="content">
      {{ content }}
      <div class="spacer"></div>
      <footer>
        Made with 🧡 for people &amp; tech, and disregard for busy-work by
        <a href="https://crftd.tech">crafted. tech collective</a>. <br /><small
          ><code>Version: {{ pkg.version }}</code></small
        >
      </footer>
    </div>
  </body>
</html>
