<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>trunkVer</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="prism.css" />
  </head>
  <body>
    <div class="content">
      {{ content }}
      <div class="spacer"></div>
      <footer>
        Made with 🧡 for people &amp; tech, and disregard for busy-work by
        <a href="https://crftd.tech">crafted. tech collective</a>.
        <br/><small><code>Version: {{ pkg.version }}</code></small>
      </footer>
    </div>
  </body>
</html>
