document,
body,
window {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 21px;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  padding-top: 20vh;
  width: 1000px;
}

@media screen and (max-width: 1000px) {
  .content {
    padding-top: 10px;
    width: 90%;
  }
  ul {
    padding-left: 20px;
  }
}
@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("assets/FrankRuhlLibre-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Source Code Pro";
  src: url("assets/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}

a,
a:hover,
a:active,
a:visited {
  color: #000;
  font-style: italic;
}

h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 3em;
  box-shadow: inset 0 -0.5em 0 #ff8e40;
  padding: 0 0.5rem;
  box-decoration-break: clone;
  display: inline;
}

h2 {
  margin-top: 80px;
  @media screen and (max-width: 1000px) {
    margin-top: 40px;
  }
}

.spacer {
  height: 24px;
}

a.btn {
  display: inline-block;
  padding: 8px 24px;
  text-decoration: none;
  border: 1px solid black;
  font-weight: 600;
  font-style: normal;
  font-family: "Source Code Pro", monospace;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 -0.3em 0 #ff8e40;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
}

pre {
  background-color: #f4f4f4;

  border-radius: 0.5em;
  overflow-x: auto;
  padding: 1em;
  font-size: 0.6em !important;
  @media screen and (max-width: 1000px) {
    font-size: 0.8em;
  }
}

blockquote {
  position: relative;
  p {
    &::before {
      position: absolute;
      left: -0.7em;
      content: "“";
      font-size: 3em;
      color: #ff8e40;
    }
  }

  footer {
    font-style: italic;
    font-size: 0.8em;
  }
}
.hero {
  padding: 20px 20px;
  background-color: #f4f4f4;
  border-radius: 0.5em;
  font-size: 2em;
  border-collapse: collapse;

  div {
    text-align: center;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: #ff9e40;
    font-style: unset;
    text-decoration-color: #aaa;
    text-decoration-style: dotted;
  }

  .version {
    font-family: "Source Code Pro", monospace;
    font-weight: 800;
    font-size: 0.8em;
    color: #ff8e40;
  }

  .description {
    font-style: italic;
    font-size: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: #3f3f3f;
  }
  .code {
    font-family: "Source Code Pro", monospace;
    font-size: 0.4em;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr;
  }

  @media screen and (max-width: 1000px) {
    .version {
      font-size: 0.5em;
    }
    .description {
      font-size: 0.3em;
    }

    .hero-grid {
      .code {
        display: none;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .hero-grid {
      grid-template-columns: repeat(1, 1fr);
      .version:not(.build-ref):after {
        content: "-";
      }

      a {
        color: inherit;
      }

      .grid-spacer {
        display: none;
      }

      .description {
        padding-bottom: 1em;
        font-size: 0.6em;
      }

      .version.timestamp {
        order: 1;
      }
      .description.timestamp {
        order: 2;
      }
      .code.timestamp {
        order: 3;
      }

      .version.source-ref {
        order: 4;
      }
      .description.source-ref {
        order: 5;
      }
      .code.source-ref {
        order: 6;
      }

      .version.build-ref {
        order: 7;
      }
      .description.build-ref {
        order: 8;
      }
      .code.build-ref {
        order: 9;
      }
    }
  }
}
